extends layout 

block content 
    h1=title 
    p People with active chores
    // Need to do something to populate this with a list of people with active chores.
    // Need an API endpoint for this...
    div(class="d-grid gap-2 col-6 mx-auto")
        for person in people
            a(href="/getPersonChores?personId="+person[0]+"&personName="+person[1], type="button", class="btn btn-primary btn-lg") #{person[1]} (#{person[2]})
            p
    //
        form(action='/rec', method='POST')
            .input 
                p
                div
                    h2 Enter search text: 
                    textarea(name='abstr', rows='5', cols='50') #{abstr}
            input(type='submit', value='Submit')