{% extends "layout.html" %} 

{% block body %}
    <h1>{{title}} </h1>
    
    <!--
    ##    'name=' + req. 'Test API chore',
    ##    'schedule': '2D',
    ##    'start_date': dt.date.today() + dt.timedelta(days=1),
    ##    'start_time': dt.time(8),
    ##    'window': '6H',
    ##    'repeats': False,
    ##    'active': True
    -->
    <div class="container col-6 text-start">
    <form action = "/createChoreAction" method = "POST">
        <div class="form-group">
            <label for="name">Chore name</label>
            <input type="text" class="form-control" id="choreNameId" name="choreName" placeholder="Chore name">
        </div>

        <div class="form-group">
            <!-- need to validate this input is \d[HWMY]-->
            <label for="schedule">Repetition schedule</label>
            <div class="d-flex flex-row">
                <input type="text" class="form-control " id="scheduleId" name="schedule" value="2">
                <select class="form-select " aria-label="scheduleTimeUnit" name="scheduleTimeUnit">
                    <!-- Hours option disabled as frequency higher than once a day isn't supported -->
                    <!-- <option value="H">Hours</option> -->
                    <option selected value="D">Days</option>
                    <option value="W">Weeks</option>
                    <option value="M">Months</option>
                    <option value="Y">Years</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="date" class="form-control" id="startDateId" name="startDate" placeholder="2023-02-28">
        </div>

        <div class="form-group">
            <label for="startTime"> Start time:</label>
            <input type="time" name="start_time" class= "form-control" placeholder="7">
        </div>

        <div class="form-group">
            <label for="window">Time window for completion</label>
            <div class="d-flex flex-row">
                <input type="text" name="window" class="form-control" value="4">
                <select class="form-select" aria-label="windowTimeUnit" name="windowTimeUnit">
                    <option selected value="H">Hours</option>
                    <option value="D">Days</option>
                    <option value="W">Weeks</option>
                    <option value="M">Months</option>
                    <option value="Y">Years</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" name="repeats" class="form-check-input" checked>
            <label for="repeats"> Repeats</label>
        </div>

        <div class="form-group">
            <input type="checkbox" name="active" class="form-check-input" checked>
            <label for="active"> Chore active</label>
        </div>

        <!-- This should probably be a drop-down -->
        <!-- Not sure it's needed at all -->
        <!--
        <div class="form-group">
            <label for="responsible">Person responsible (for non-repeating chores)</label>
            <input type="text" name="responsible" class="form-control" placeholder="Name of person responsible (for non-repeating chores)">
        </div>
        -->

        <p></p>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form> 
    </div>
    

{% endblock %}

{% block footer %}
<div class="container themed-container text-center">
    <p></p>
    <a href='/' type="button" class="btn btn-light btn-lg">Return to main menu</a>
    
</div>
{% endblock %}