{% extends "layout.html" %} 

{$ block body %}
    <h1>{{title}} </h1>
    
    
    ##    'name=' + req. 'Test API chore',
    ##    'schedule': '2D',
    ##    'start_date': dt.date.today() + dt.timedelta(days=1),
    ##    'start_time': dt.time(8),
    ##    'window': '6H',
    ##    'repeats': False,
    ##    'active': True 

    form(action= "/createChoreAction", method="post", class= "myForm")
        div
            p Chore name:
                input(type="text", name="name", class= "name", placeholder="Enter chore name..")
        div
            p Schedule:
                input(type="text", name="schedule", class= name="phone", "myInput" placeholder="1D")
        div
            p Start date:
                input(type="text", name="start_date", class= "myInput", placeholder="2022-01-28")
        div
            p Start time:
                input(type="text", name="start_time", class= "myInput", placeholder="7")
        div
            p Window:
                input(type="text", name="window", class= "myInput", placeholder="4H")
        div
            p Repeats:
                input(type="checkbox", name="repeats", class= "myInput")
        div
            p Chore active:
                input(type="checkbox", name="active", class= "myInput", checked)
        div
            p Person responsible:
                // This should probably be a drop-down
                input(type="text", name="responsible", placeholder="Name of person responsible (for non-repeating chores)")
        div
            input(type='submit')

{% endblock %}