<!doctype html>
<html>
    <head>
        <title>Peoeple with active chores</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
                rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" >
        
    </head>
   <body>
        <div>
        

    <h1>Peoeple with active chores</h1> 
    <p> People with active chores </p>
    <!-- 
    // Need to do something to populate this with a list of people with active chores.
    // Need an API endpoint for this...
    -->
    <div class="d-grid gap-2 col-6 mx-auto">Gonna have something in here</div>
    

        </div>
    </body>
   <footer> 
        <div class="container themed-container text-center">
            <a href='/'>Main menu</a>
        </div>
    </footer>
</html>