{% extends "layout.html" %}

{% block body %} 
    <h1>{{ title }}</h1>
    <script>
        var chores = {{ chores | tojson }}
        for (item in chores ) {
            console.log( item ); 
            console.log( chores[item]);
            }
        console.log( {{ personId }})
    </script>
    <div class="d-grid gap-2 col-6 mx-auto">
        
        {% for chore in chores %}
            {% if chores[chore]['Completed'] == 0 %}
            <a href="/completeChore?personId={{ personId }}&personName={{ title }}&choreInstanceId={{chores[chore]['ChoreInstanceID']}}", 
                type="button", class="btn btn-primary btn-lg"> {{ chores[chore]['name'] }} </a>
            {% else %}
            <button type="button" class="btn btn-primary btn-lg" disabled> {{ chores[chore]['name'] }} (Complete)</button>
            {% endif %}
            
        {% endfor %}
    </div>    
{% endblock %}
{% block footer %}
<div class="container themed-container text-center">
    <p></p>
    <a href='/' type="button" class="btn btn-light btn-lg">Return to main menu</a>
    
</div>
{% endblock %}