{% extends "layout.html" %}

{% block body %} 
    <h1>{{ title }}</h1>
    <script>
        var chores = {{ chores | tojson }}
        for (item in chores ) {
            console.log( item ); 
            console.log( chores[item]);
            }
        console.log( {{ personId }})
        var earnings = {{ earnings | tojson }}
        for (item in earnings ) {
            console.log( item ); 
            console.log( earnings[item]);
            }
    </script>
    <div class="d-grid gap-2 col-6 mx-auto">
        <p>Earned pocket money: <b>{{ earnings['CurrentBalance'] }}</b> </p>
        <p>Pending pocket money: <b>{{ earnings['pendingMoney'] }}</b> </p>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        
        {% for chore in chores %}
            {% if chores[chore]['Completed'] == 0 %}
            <a href="/completeChore?personId={{ personId }}&personName={{ title }}&choreInstanceId={{chores[chore]['ChoreInstanceID']}}", 
                type="button", class="btn btn-primary btn-lg"> {{ chores[chore]['name'] }} </a>
            {% else %}
            <button type="button" class="btn btn-primary btn-lg" disabled> {{ chores[chore]['name'] }} (Complete)</button>
            {% endif %}
            
        {% endfor %}
    </div>    
    {% if earnings['RoleName'] == 'Parent' %}
        <p></p>
        <h3>Other tasks</h3>
        <a href='/authenticateUser?target=createChore' type="button" class="btn btn-primary btn-lg">Create new chore</a>
        <a href="/authenticateUser?target=validateChores" type="button" class="btn btn-primary btn-lg">Validate chores </a>
        <a href="/authenticateUser?target=managePeople" type="button" class="btn btn-primary btn-lg">Manage people </a>
        <a href="/authenticateUser?target=manageRate" type="button" class="btn btn-primary btn-lg">Manage chore rate </a>
    {% endif %}
{% endblock %}
{% block footer %}
<div class="container themed-container text-center">
    <p></p>
    <a href='/' type="button" class="btn btn-light btn-lg">Return to main menu</a>
    
</div>
{% endblock %}